html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.container {
	min-height: 100%;
	overflow: none;
	width: 1100px;

	margin-left: auto;
	margin-right: auto;
	
	padding-bottom: 100;
		
	z-index: -1;
	
	
	border-color: #D4D5D7;
	
	position: relative;
}

.textbox {
	border: 2px solid #D4D5D7;
	border-radius: 10px;
}

.container > .textbox {
	border: 2px solid #D4D5D7;
	border-radius: 10px;
	
	padding-bottom: 80;
/*
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
*/
}
